<div>
  <h1>
    Events
  </h1>
</div>
<div>
  <li *ngFor="let event of events; let i = index">
    {{event.title}}
    <button (click)="editEvent(event, i)" ion-button class="edit-button" icon-start>
      Edit
    </button>
    <button (click)="removeEvent(event, i)" ion-button class="remove-button" icon-start>
      Delete
    </button>
  </li>
</div>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addEvent()">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button>
      <a routerLink="/events">
        <img src="../img/logo3.png" alt="Todo" width="25" height="30">
        <br/>
        Events
      </a>
    </ion-tab-button>

    <ion-tab-button>
      <a routerLink="/todos">
        <img src="../img/logo4.png" alt="Todo" width="25" height="30">
        <br/>
        To-Do
      </a>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>