<div>
  <h1>
    Events
  </h1>
</div>
<ion-card *ngFor="let event of events; let i = index">
  <ion-card-header>
    <ion-card-subtitle>
      {{event.date}}
    </ion-card-subtitle>
    <ion-card-title>{{event.title}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div class="edit-delete-buttons">
      <button (click)="editEvent(event, i)" class="edit-button">
        <img src="../img/edit.png" alt="Edit Event" width="25" height="30">
      </button>
      <button (click)="removeEvent(event, i)" ion-button class="remove-button" icon-start>
        <img src="../img/trash.png" alt="Edit Event" width="25" height="30">
      </button>
    </div>
    <table>
      <tr>
        <th>
          Location
        </th>
        <th>
          Time Start
        </th>
        <th>
          Time End
        </th>
        <th>
          Menu | Assignee
        </th>
        <th>
          Decoration | Assignee
        </th>
        <th>
          Guest List
        </th>
        <th>
          Supply | Assignee
        </th>
      </tr>
      <tr>
        <td>
          {{event.loc}}
        </td>
        <td>
          {{event.timeSt}}
        </td>
        <td>
          {{event.timeEnd}}
        </td>
        <td>
          {{event.menuItem}} | {{event.menuAsgn}}
        </td>
        <td>
          {{event.decoration}} | {{event.decorationAsgn}}
        </td>
        <td>
          {{event.guestFirstName}} {{event.guestLastName}}
        </td>
        <td>
          {{event.supplyItem}} | {{event.supplyAsgn}}
        </td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addEvent()">
      <img src="../img/plus-round.png" alt="Add Event" width="25" height="30">
    </ion-fab-button>
  </ion-fab>

  <footer>
    <hr>
    <div class="tabs">
      <div class="tab-icon">
        <a routerLink="/events">
          <img src="../img/logo3.png" alt="Events" width="25" height="30">
          <br/>
          Events
        </a>
      </div>
      <div class="tab-icon">
        <a routerLink="/todos">
          <img src="../img/logo4.png" alt="Todo" width="25" height="30">
          <br/>
          To-Do
        </a>
      </div>
    </div>
  </footer>
