<div>
  <h1>
    To-Dos
  </h1>
</div>
<div>
  <li *ngFor="let todo of todos; let i = index">
    {{todo.descr}}
    <button (click)="editTodo(todo)" >
      Edit
    </button>
    <button (click)="removeTodo(todo)">
      Delete
    </button>
  </li>
</div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addTodo()">
      </ion-fab-button>
    </ion-fab>
    <footer>
      <hr>
      <div class="tabs">
        <div class="tab-icon">
          <a routerLink="/events">
            <img src="../img/logo3.png" alt="Events" width="25" height="30">
            <br/>
            Events
          </a>
        </div>
        <div class="tab-icon">
          <a routerLink="/todos">
            <img src="../img/logo4.png" alt="Todo" width="25" height="30">
            <br/>
            To-Do
          </a>
        </div>
      </div>
    </footer>